.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav-logo {
  background-image: url(https://i.imgur.com/KkC26RM.png);
  box-sizing: border-box;
  background-size: cover;
  height: 200px;
  width: 200px;
  border: 2px dotted blue;
}

.nav-item {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}