body {
  color: #2e2d2d;
  background-color: #dad7cd;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

div {
  border: 1px solid yellow;
}

/*layout*/

header, footer {
  background-color: #3a5a40;
  color: #dad7cd;
  text-align: center;
}

.nav-logo {
  height: 100px;
  padding-bottom: 30px;
}

.item-wrapper {
  display: flex;
  justify-content: space-evenly;
}

header, 
section, 
footer {
  padding: 45px 0px
}

.nav-item {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  background-color: #dad7cd;
  color: #3a5a40;
}

.hero {
  text-align: center;
}

.input {
  
}
.search-section {
  height: 50vh;
}

#search-input {
  width: 50vw;
}

/*images*/




